.pf1.sheet.actor {
  .tab.settings {
    overflow: hidden scroll;
    gap: 0.5em;

    h2,
    h3 {
      margin: 0;
      flex: 0;
    }

    > div {
      flex: 0;
    }

    .base-setup {
      display: grid;
      grid-template-columns: 5fr 2fr;
      gap: 0.3em;

      h2 {
        grid-column: 1 / -1;
      }

      .flexcol {
        gap: 0.3em;
      }
    }

    // Ability Score Links
    .ability-scores {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.3em;

      > .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;
        gap: 3px;

        > div {
          display: grid;
          grid-template-columns: 3fr 2fr;
          grid-template-rows: min-content;
          gap: 1px;

          h3 {
            grid-column: span 2;

            margin: 0;

            color: #f0f0e0;
            text-shadow: rgb(0, 0, 0) 1px 1px 0;

            background: rgba(0, 0, 0, 0.3);
          }

          label {
            color: #4b4a44;
            font-weight: bold;

            height: 2em;
            display: inline-flex;
            align-items: center;

            &:nth-of-type(even) {
              background: rgba(0, 0, 0, 0.05);
            }
          }

          h3,
          label {
            padding: 0 0.3rem;
          }
        }
      }
    }
  }
}
